{% extends 'vacancies/base.html' %}

{% block title_head %}Авторизация | Board Jobs{% endblock title_head %}

{% block container %}

    <main class="container mt-3">
        <h1 class="h1 text-center py-4"><strong>Вход</strong></h1>
        <div class="row">
            <div class="col-6 offset-md-3">

                {% load crispy_forms_tags %}
                {% crispy form "bootstrap4" %}

                <div class="mt-4 text-center"><p>Нет аккаунта? <a href="/register">Зарегистрируйтесь!</a></p></div>
            </div>
        </div>
    </main>

{% endblock %}