{% extends 'vacancies/base.html' %}

{% block title_head %}Поиск по вакансиям | Board Jobs{% endblock title_head %}

{% load bootstrap_pagination %}
{% load my_filters %}

{% block container %}

    <main class="container mt-3">
        <section>

            <h1 class="h1 text-center mt-5 mb-4">Поиск вакансий</h1>

            <div class="row">
                <div class="col-md-7 col-lg-5 col-xl-4 col-sm-8 mx-auto">

                    <form class="form-inline mb-3" enctype="multipart/form-data" action="{% url 'search' %}">
                        <div class="form-group col-8 col-md-10 pl-0">
                            <input class="form-control w-100" type="search" placeholder="Найти работу или стажировку"
                                   aria-label="Найти работу или стажировку" name="s">
                        </div>
                        <div class="form-group col-4 col-md-2 pl-0">
                            <button class="btn btn-success w-100" type="submit">Найти</button>
                        </div>
                    </form>

                </div>
            </div>

            {% if s %}
                <p class="text-center pt-1">Результат поиска по запросу <span class="text-danger"><em>{{ s }}</em></span>
                </p>
                <p class="text-center pt-1">
                    <em>Найдено {{ vacancies_count|ru_pluralize:'вакансия, вакансии, вакансий' }}</em></p>
                {% else %}
                <p class="text-center pt-1">Вы ничего не ввели. Показываю все вакансии</p>
            {% endif %}

            <div class="row mt-5">
                <div class="col-12 col-lg-8 offset-lg-2 m-auto">

                    {% for vacancy in vacancies %}

                        <div class="card mb-4">
                            <div class="card-body px-4">
                                <div class="row">
                                    <div class="col-12 col-md-8 col-lg-9">
                                        <h2 class="h2-name h2 pb-2"><a
                                                href="{% url 'vacancy' vacancy.id %}">{{ vacancy.title }}</a></h2>
                                        <ul class="mb-2 ul_skills">{{ vacancy.skills|list_li|safe|escape }}</ul>
                                        <p>От {{ vacancy.salary_min }} до {{ vacancy.salary_max }} руб.</p>
                                        <p class="text-muted pt-1">9 декабря</p>
                                    </div>
                                    <div class="col-12 col-md-4 col-lg-3 d-flex align-items-end">
                                        <a href="{% url 'company' vacancy.company_id %}"><img
                                                src="{{ vacancy.company.logo.url }}" width="130" height="80" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% endfor %}

                    {% if is_paginated %}
                        <div class="paginator text-success">
                            {% bootstrap_paginate page_obj range=5 show_prev_next="false" show_first_last="true" %}
                        </div>
                    {% endif %}

                </div>
            </div>
        </section>
    </main>

{% endblock %}