{% extends 'vacancies/base.html' %}

{% load bootstrap_pagination %}
{% load my_filters %}

{% block title %}{{ titles }}{% endblock title %}

{% block container %}

    <main class="container mt-3">
        <section>
            <h1 class="h1 text-center mx-auto mt-4 pt-5" style="font-size: 70px;"><strong>
                {% if request.path == '/vacancies' %}Все вакансии{% else %}{{ specialty }}{% endif %}</strong>
            </h1>
            <p class="text-center pt-1">Найдено {{ vacancies_count|ru_pluralize:'вакансия, вакансии, вакансий' }}</p>
            <div class="row mt-5">
                <div class="col-12 col-lg-8 offset-lg-2 m-auto">

                    {% for vacancy in vacancies %}

                        <div class="card mb-4">
                            <div class="card-body px-4">
                                <div class="row">
                                    <div class="col-12 col-md-8 col-lg-9">
                                        <h2 class="h2-name h2 pb-2"><a
                                                href="{% url 'vacancy' vacancy.id %}">{{ vacancy.title }}</a></h2>
                                        <ul class="ul_skills">{{ vacancy.skills|list_li|safe|escape }}</ul>
                                        <p>{{ vacancy.description|truncatechars:150|striptags }}</p>
                                        <p>От {{ vacancy.salary_min }} до {{ vacancy.salary_max }} руб.</p>
                                        <p class="text-muted font-italic pt-1">{{ vacancy.published_at|date:"d E" }}</p>
                                    </div>
                                    <div class="col-12 col-md-4 col-lg-3 d-flex align-items-end">
                                        <a href="{% url 'company' vacancy.company_id %}"><img
                                                src="/media/{{ vacancy.company.logo }}" width="130"
                                                height="80"
                                                alt="Логотип компании {{ vacancy.company.name }}"></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% endfor %}

                    {% if is_paginated %}
                        <div class="paginator">
                            {% bootstrap_paginate page_obj range=5 show_prev_next="false" show_first_last="true" %}
                        </div>
                    {% endif %}

                </div>
            </div>
        </section>
    </main>


{% endblock %}