{% extends 'vacancies/base.html' %}

{% block title_head %}500 - ошибка на сервере | Board Jobs{% endblock title_head %}

{% block container %}

    <div class="text-center mx-auto">
        <h1 class="h1 mt-4 py-5">Какая-то ошибка на сервере</h1>

        <div class="mx-auto sk-chase">
            <div class="sk-chase-dot sk-500"></div>
            <div class="sk-chase-dot sk-500"></div>
            <div class="sk-chase-dot sk-500"></div>
            <div class="sk-chase-dot sk-500"></div>
            <div class="sk-chase-dot sk-500"></div>
            <div class="sk-chase-dot sk-500"></div>
        </div>

        <p class="mt-5">Мы уже работаем над этим. Скоро всё заработает.
        <br>Попробуйте перейти по ссылкам ниже.</p>

        <div>
            <a href="{% url 'main' %}" class="text-success">Перейти на главную</a> |
            <a href="{% url 'vacancies' %}" class="text-success">Все вакансии</a>
        </div>

    </div>

{% endblock %}