{% extends 'vacancies/base.html' %}


{% block title %}Редактирование компании {{ data.company_info }}{% endblock title %}

{% block container %}

    <main class="container mt-3 pb-5">
        <div class="row mt-5">

            {% include 'vacancies/company/menu_left.html' %}

            <div class="col-12 col-lg-8">
                <div class="card">
                    <div class="card-body px-4 pb-4">
                        <!-- Tab -->
                        <section class="tab-pane fade show active">
                                <h2 class="h4 pt-2 pb-3">Информация о&nbsp;вашей компании</h2>

                            {% if message == 'success' %}
                            <p class="alert alert-info" role="alert">
                                Информация о компании обновлена
                            </p>
                                <a href="{% url 'my_company_letsstart' %}"
                                                       class="btn btn-outline-info">Ok</a>
                            {% else %}

                            {% load crispy_forms_tags %}
                            {% crispy form "bootstrap4" %}

                            {% endif %}

                        </section>
                        <!-- END Tab -->
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock %}